@model IEnumerable<Intranet.Areas.Elements_Generaux.Models.Theme>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liste des thèmes</title>
</head>
<body>
    <p>
        @Html.ActionLink("Créer", "Theme", "Creer", null, null)
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Libelle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Element)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Libelle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Element.Id)
                </td>
                <td>
                    @Html.ActionLink("Modifier", "Theme", "Modifier", new { id = item.Element.Id }, null) |
                    @Html.ActionLink("Details", "Theme", "Detailler", new { id = item.Element.Id }, null) |
                    @Html.ActionLink("Masquer", "Theme", "Masquer", new { id = item.Element.Id }, null) |
                    @Html.ActionLink("Supprimer", "Theme", "Supprimer", new { id = item.Element.Id }, null)
                </td>
            </tr>
        }

    </table>
</body>
</html>