@model IEnumerable<Intranet.Areas.Composants.Models.Operations.Operation>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Voir le détail d'un élément</title>
</head>
<body>
    <div>
        <h4>Détails d'un élément</h4>
        <hr />
        <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
                @*@Html.DisplayNameFor(model => model.Collaborateur)
                @Html.DisplayNameFor(model => model.Details)
                @Html.DisplayNameFor(model => model.Date)
                @Html.DisplayNameFor(model => model.Element.Id)
                @Html.DisplayNameFor(model => model.Element.Collaborateur)
                @Html.DisplayNameFor(model => model.Element.Etat)
                @Html.DisplayNameFor(model => model.Element.Fraction)*@
            </th>
            <th></th>
        </tr>
    
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                    @*@Html.DisplayFor(modelItem => item.Collaborateur)
                    @Html.DisplayFor(modelItem => item.Details)
                    @DateTime.Parse(Html.DisplayFor(modelItem => item.Date).ToString()).ToShortDateString()
                    @Html.DisplayFor(modelItem => item.Element.Id)
                    @Html.DisplayFor(modelItem => item.Element.Collaborateur)
                    @Html.DisplayFor(modelItem => item.Element.Etat)
                    @Html.DisplayFor(modelItem => item.Element.Fraction.Libelle)*@
                </td>
                @*<td>
                    @Html.ActionLink("Modifier", "Modifier", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Supprimer", "Supprimer", new { id = item.Id })
                </td>*@
            </tr>
        }
    </table>
    </div>
    <p>
        @Html.ActionLink("Retourner vers la liste des éléments", "Index")
    </p>
</body>
</html>
